@import "../devices-breakpoints.scss";

.slider {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  top: 0;
  right: 0;
  display: flex;
  overflow: hidden;

  &__wrapper {
    width: 100vw;
    height: auto;
  }

  &__img {
    width: 0%;
    position: absolute;
    height: 100vh;

    &-text {
      position: absolute;
      top: 30%;
      left: 10%;
      color: #000;
      z-index: 39;

      @media screen and (min-width: $lg+px) {
        top: 35%;
      }
    }
  }

  &__header {
    position: relative;
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 2vh;
    padding: 1vh;

    @media screen and (min-width: $lg+px) {
      font-size: 7rem;
    }
  }

  &__subheader {
    position: relative;
    overflow: hidden;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.2;

    @media screen and (min-width: $lg+px) {
      font-size: 2.5rem;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    position: absolute;
    width: 85%;
    height: 10%;
    top: 70%;
    left: 5vh;
    z-index: 9;
    
    @media screen and (min-width: $lg+px) {
      width: 30%;
      height: 20%;
      left: 20vh;
    }

    &-line {
      width: 1%;
      height: 0;
      margin-right: 3vh;
      border-top: 1px solid #000;
    }

    &-icon {
      padding: 3vh;
      border-radius: 50px;
      border: 1px solid #000;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &__nav {
    position: absolute;
    top: 65%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: #000;
    cursor: pointer;
    width: 100%;
    height: 40%;

    @media screen and (min-width: $lg+px) {
      top: 60%;
      left: 40%;
      width: 30%;
    }

    &-button{
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 1vh;
    }
    &-controls{
      height: 20%;
      width: 100%;

      &-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;

        &-circle{
          height: 12px;
          width: 12px;
          border: 2px solid #000;
          border-radius: 50px;
        }
      }
      &-line{
        width: 100%;
        height: 1px;
        background-color: #000;

        &-circle{
          width: 10%;
          height: 3px;
          opacity: 0;
          transition: opacity .5s;

          &--active{
            background-color: #000;
            opacity: 1;
          }
        }
      }
    }
  }
}

.white {
  color: #fff;
}

.active{
  background-color: #fff;

  &--black{
    background-color: #000;
  }
}
