@import "../devices-breakpoints.scss";
@import "section-mixin.scss";

.section-three {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 100%;
  padding: 0 1vh;

  @media screen and (min-width: $lg+px) {
    flex-direction: row;
    padding: 0;
    height: 60vh;
  }
  &__headers-left {
    @include headersLeft;
  }
  &__headers-right {
    position: relative;
    overflow: hidden;
  }
  &__left-content {
    @include sectionContent;

    @media screen and (min-width: $lg+px) {
      height: 40%;
      width: 50%;
      margin-right: 5vh;
    }
  }
  &__right-content {
    @include sectionContent;
  }

  &__left {
    position: relative;
    width: 100%;
    height: 100%;

    @media screen and (min-width: $lg+px) {
      border-right: 5px solid white;
      cursor: pointer;
    }

    &-texts {
      position: relative;
      display: flex;
      justify-content: center;
      width: 70%;
      height: 100%;
      overflow: hidden;

      @media screen and (min-width: $lg+px) {
        height: 12%;
      }
    }

    &-text {
      position: absolute;

      &--top {
        top: -20px;
      }
      &--bottom {
        bottom: 0;
      }
    }

    &-header {
      @include sectionHeader;
      position: absolute;
      overflow: hidden;

      &--top {
        top: -180px;
      }
      &--bottom {
        bottom: 0;
      }

      @media screen and (min-width: $lg+px) {
        font-size: 4rem;
        margin-left: 5vh;
      }
    }

    &-wrapper {
      @include sectionWrapper;
      position: absolute;
      width: 100%;

      @media screen and (min-width: $lg+px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
    &-line {
      @include sectionLine;
    }
    &-icon {
      display: flex;
    }
  }
  &__right {
    position: relative;
    width: 100%;
    height: 100%;

    &-texts {
      position: relative;
      display: flex;
      justify-content: center;
      width: 70%;
      height: 70%;
      overflow: hidden;
    }

    &-text {
      position: absolute;

      &--top {
        top: -20px;
      }
      &--bottom {
        bottom: 0;
      }
    }

    @media screen and (min-width: $lg+px) {
      width: 40%;
      height: 100%;
      cursor: pointer;
    }
    &-header {
      @include sectionHeader;
      position: relative;

      &--top {
        position: absolute;
        top: -180px;
      }
      &--bottom {
        bottom: 0;
      }

      @media screen and (min-width: $lg+px) {
        font-size: 4rem;
      }
    }

    &-wrapper {
      @include sectionWrapper;
      position: absolute;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;

      @media screen and (min-width: $lg+px) {
        margin-left: 5vh;
        width: 70%;
      }
    }
    &-line {
      @include sectionLine;
      width: 40%;
      @media screen and (min-width: $lg+px) {
        margin-left: 1vh;
      }
    }
  }
}
