@import "../devices-breakpoints.scss";

.social {
  width: 10%;
  transition: transform 0.3s ease-out;
  &:hover {
    transform: scale(1.4);
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    width: 100%;

    @media screen and (min-width: $lg+px) {
      margin-bottom: 0;
    }
  }

  &__icon {
    display: flex;
    justify-content: space-around;
    filter: invert(0%);
    padding: 4vh;
    padding-bottom: 2vh;

    @media screen and (min-width: $lg+px) {
      filter: invert(0%);
      padding: 1.2vh 0;

      &--margin-right {
        margin-right: 1vh;
      }
      &--margin-left {
        margin-left: 1vh;
      }
    }
  }

  &__icon-img {
    width: 20px;
    height: 20px;

    @media screen and (min-width: $lg+px) {
      width: 13px;
      height: 13px;
    }
  }
}

.color {
  color: #000;
}

@media screen and (min-width: $lg+px) {
  .color {
    filter: brightness(0) invert(1);
  }
}
